<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>pskyc</name>
    <displayName><![CDATA[KYC Secure Upload]]></displayName>
    <version><![CDATA[1.1.2]]></version>
    <description><![CDATA[Open source KYC document verification and encrypted storage for PrestaShop. GDPR compliant.]]></description>
    <author><![CDATA[Valentin Chmara]]></author>
    <tab><![CDATA[administration]]></tab>
	<confirmUninstall><![CDATA[All KYC verification data and associated documents will be permanently deleted. This action cannot be undone.]]></confirmUninstall>
    <is_configurable>1</is_configurable>
    <need_instance>1</need_instance>
</module>