includes:
	- %currentWorkingDirectory%/tests/vendor/prestashop/php-dev-tools/phpstan/ps-module-extension.neon

parameters:
	paths:
		- ../../pskyc.php
		- ../../src/
		- ../../controllers/
		- ../../sql/
		- ../../upgrade/
	reportUnmatchedIgnoredErrors: false
  level: 5